
#AppPage {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

#topbar {
  background-color: #333;
  overflow: hidden;
  padding-left: 30px;
}

#topbar a {
  font-size: large;
  color: #F8F8F8;
}

#sideNav {
  float: left;
  background-color: gray;
  width: 15%;
  height: 100%;
}

#content {
  float: right;
  width: 85%;
}
