#sideNav {
  float: left;
  background-color: gray;
  width: 15%;
  height: 100%;
}

.sideNavItem {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.sideNavItem a {
  margin: 10px;
  background-color: transparent;
}